/*hero*/
.Hero {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fadeIn 5s forwards;

}
span{
    color:  #616ee4;
}
/*Content section after hero*/
.blog-content{
    margin: 0px 25px 20px 25px;
    padding: 10px 25px 10px 25px;
    background-color: aliceblue;
}

#content-header{
    margin: 2px 25px 10px 25px;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color:#011e30 ;
    font-size: 1.85rem;
    text-align: center;
}
#Content-section{
    margin: 0px 150px;
    color: #A6B9C8;
    
}

/*4x4 grid for easy access*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px; 
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.content-item {
    border: 1px solid #011e30;
    border-radius: 10px; /* Rounded corners */
    padding: 0px 15px 20px 20px;
    margin: 10px 25px 15px 0px;
    text-align: center;
    color: #011e30;
    background-color: #eef1f3;
    transition: transform 0.3s; 
}

.content-item:hover {
    transform: scale(1.05); 
}


img {
    width: 60%; 
    max-height: 200px; 
    object-fit: cover; 
}

.Api-section{
    text-align: center;
}
#dogImage{
    margin-top: 20px;
    width: 20%;   
}