/*hero*/
.Hero {
    margin: 150px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fadeIn 5s forwards;
}

/*Content section after hero*/
.blog-content{
    margin: 0px 25px 20px 25px;
    padding: 10px 25px 10px 25px;
    background-color: aliceblue;
}

#content-header{
    margin: 2px 25px 10px 25px;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color:#0a1d3f;
    font-size: 1.85rem;
    text-align: center;
}

/*4x4 grid for easy access*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    margin: 10px;;
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.content-item{
    border: 1px solid #0a1d3f;
    border-radius: 10px; /* Rounded corners */
    padding: 0px 15px 20px 20px;
    text-align: center;
    color: #011e30;
    background-color: #eef1f3;
    transition: transform 0.3s; 
}

.content-item:hover {
    transform: scale(1.05); 
}


img {
    width: 60%; 
    max-height: 200px; 
    object-fit: cover; 
}

.Api-section {
    text-align: center;
    border-radius: 10px;
}

.Api-section h2 {
    color: #333;
    margin-bottom: 10px;
}

.Api-section p {
    color: #666;
    margin-bottom: 20px;
}

#stock-list {
    list-style-type: none;
    padding: 5px;
    text-align: center;
}

#stock-list li {
    margin-bottom: 5px;
}

#stock-info {
    margin-top: 20px;
}

#stock-info input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#stock-price,
#stock-change {
    margin-top: 10px;
    font-weight: bold;
}

/* Media Queries */
@media (max-width: 768px) {
    .Hero {
        text-align: center;
    }

    #sub-heading {
        text-align: center;
    }
    .Api-section {
        text-align: left;
        padding: 10px;
    }

    #stock-list {
        text-align: left;
        padding: 10px;
        margin: 10px 0;
        border-radius: 0;
    }

    #stock-info input[type="text"] {
        width: 100%;
        margin: 5px 0;
    }

    #stock-price,
    #stock-change {
        margin-top: 5px;
        font-size: 1rem;
    }

    .grid-container {
        grid-template-columns: 1fr; /* Switch to a single column layout */
    }
    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
    
    .content-item {
        border: 1px solid #0a1d3f;
        border-radius: 10px; /* Rounded corners */
        padding: 0px 15px 20px 20px;
        text-align: center;
        color: #011e30;
        background-color: #eef1f3;
        transition: transform 0.3s; 
        margin-bottom: 20px; /* Added margin bottom for spacing */
    }
    
    .content-item:hover {
        transform: scale(1.05); 
    }
}


