body {
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

/*Nav Bar*/
header {
    display: flex;
    align-items: center;
    background-color: #0a1d3f;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    margin-left: auto;
    padding: 25px;
    line-height: 1.5;
}

header nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin-right: 13px;
    font-size: 1rem;
    list-style-type: none;
    color: white;
}

header nav ul li a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    transition: transform 0.2s;
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
}

header nav ul li a:hover {
    color: #4d5eff;
    text-decoration: underline;
}

header nav ul li a.active {
    color: #A6B9C8;
    text-decoration: none;
    border-bottom: 2px solid #A6B9C8;
}

/*Text formatting*/
#Main-Header {
    font-size: 1.2rem;
    margin: 15px 0px 15px 25px;
    color: white;
    top: -100px;
    opacity: 0;
    animation: slideFromTop 1.5s forwards;
}

@keyframes slideFromTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Page-header-identifier {
    color: #95aeff;
    text-align: center;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    color: #A6B9C8;
}

h2,
h3 {
    font-weight: lighter;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 1rem;
    font-weight: 400;
}



/*Images*/
img {
    width: 350px;
    height: 200px;

}

svg {
    width: 24px;
    height: 24px;
    margin: 0px 5px;
}

svg path {
    fill: #A6B9C8;
    transition: fill 0.3s ease;
}

a:hover svg path {
    fill: #2200ff;
}


/* class styling*/
.content-seperation {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px 0px;
    border: none;
}

/* Buttons*/
.btn-variation-1 {
    background-color: #6a77e7;
    color: white !important;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-variation-1:hover {
    background-color: #ffffff;
    color: #000000 !important;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.btn-variation-1:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-variation-2 {
    background-color: #6a77e7;
    color: white !important;
    border: 2px solid transparent;
    margin: 5px 5px 5px 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
}

.btn-variation-2:hover {
    background-color: #5a7791;
    color: #ffffff !important;
    border-color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.btn-variation-2:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-variation-3 {
    padding: 8px 15px;
    background-color: #6a77e7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.btn-variation-3:hover {
    background-color: #a0adb9;
    color: #ffffff !important;
    border-color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #b9c7d1;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    opacity: 0.7;
}

.backToTopBtn:hover {
    background-color: #6a77e7;
}

/*Organisation*/
hr {
    border: none;
    height: 2px;
    background-color: #0a1d3f;
    margin: 0px 25px 0px 25px;
}

/*Footer*/
footer {
    margin: 0px;
    padding: 10px;
    background-color: #0a1d3f;
}

.contact-me-header {
    color: white;
    font: bold;
}

address {
    color: white;
    margin-left: 30px;
}

.footer-socials {
    text-align: center;
    color: white;
}

.fn {
    color: #b9c7d1;
}

span {
    color: #2200ff;
}

/* Media Queries */
@media (max-width: 600px) {
    header {
        flex-direction: column; 
        padding: 10px 0; 
    }

    nav {
        order: 1; 
        margin-left: 0; 
        padding: 0;
        text-align: center; 
    }

    header nav ul {
        flex-direction: row;
        justify-content: center; 
        margin-top: 5px; 
    }

    header nav ul li {
        margin-right: px; 
        margin-bottom: 0; 
    }


    .Page-header-identifier {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 3rem;
    }

    img {
        width: 100%;
        height: auto;
    }

    .btn-variation-1,
    .btn-variation-2,
    .btn-variation-3 {
        font-size: 0.875rem;
        padding: 8px 15px;
    }

    .backToTopBtn {
        padding: 8px;
        font-size: 16px;
    }

    hr {
        margin: 0px 10px 0px 10px;
    }

    footer {
        padding: 5px;
    }

    address {
        margin-left: 0px;
        text-align: center;
    }
}